.header {
    padding: 20px 40px;
    border-bottom: 1px solid #ddd0ca;
    display: flex;
    gap: 20px;
    background: #f9f5e9;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);*/
}

.logo {
    margin: 0;
}
